.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  width: 40vmin;
  margin: 0 auto;
  list-style: none;
  text-align: left;
}
li {
  padding: 0.5rem;
}

input{
  margin: 2rem;
  display: inline-block;
  width: 20vmin;
  height: calc(2.2125rem + 2px);
  padding: .45rem .9rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}

button{
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border-radius: .15rem;
  color: #fff;
  border: 1px solid transparent;
  border-color: #0acf97;
  background-color: #0acf97;
  padding: .45rem .9rem;
  font-size: .875rem;
}