.container {
  display: flex;

  .left-sidebar-container {
    width: 256px;
    min-width: 256px;
    max-width: 256px;
    height: calc(100vh);
    background: #001529;
  }

  .main {
    flex: 1;
    min-height: 100vh;
  }

  .content {
    position: relative;
    padding: 20px;
  }
}

